<% if user_signed_in? %>
  <% if !current_user.name.blank? %>
    <li><%= link_to current_user.name, edit_user_registration_path %></li>
  <% else %>
    <li><%= link_to "Редагувати профіль", edit_user_registration_path %></li>
  <% end %>
  <% if current_user.place %>
    <li><%= link_to "Відмінити бронювання - місце #{current_user.place.number}", '/cancel', data: {:confirm => "Вийти?"} %></li>
  <% end %>
  <% if current_user.remote_avatar_url %>
    <li class="round-image-30"><%= image_tag(current_user.remote_avatar_url) %></li>
  <% end %>
  <li><%= link_to 'Вийти', destroy_user_session_path, data: {:confirm => "Вийти?"} %></li>
<% else %>
  <li><%= link_to 'Зареєструватися', new_user_registration_path, class: "active" %></li>
  <li><%= link_to 'Увійти', new_user_session_path, class: "active" %></li>
<% end %>
