<!DOCTYPE html>
<html>
  <head>
    <title>Бронювання</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'booking', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello-world-bundle' %>
  </head>

  <body>
    <h1>Займаємо місця на поїзд 13 вересня (Київ - Івано-франківськ)</h1>
    <h4>Для замовлення поїзда потрібно точно знати кількість людей, тому вибирайте собі місце і бронюйте за собою</h4>
    <h6>Для резервації місця потрібно пройти швидку авторизацію через Facebook або зареєструватися за допомогою пошти</h6>
    <%= yield %>
    <%= render 'layouts/nav'%>
  </body>
</html>
